#participant-select {
  width: 15rem;
  height: 3rem;
  appearance: none;
  border-radius: 5%;
  padding-left: 1rem;
  border: black solid 2px;
  font-weight: 500;
  font-size: 1.5rem;
  cursor: pointer;
}
