#createEventBtn {
  margin-left: 2rem;
  background-color: rgba(128, 128, 128, 0.287);
  width: 15rem;
  height: 3rem;
  border-radius: 5%;
  border: black solid 2px;
  font-weight: 500;
  font-size: 1.5rem;
}
